*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

:root{
  --main-font: 'Lato', sans-serif;
  --light-blue: #b4d0e7;
  --sky-blue: #0093ce;
  --blue: #0061ff;
  --dark-blue: #0d2481;
  --green: #a2d39b;                              
  --red: #ff1c1c;
  --dark-red: #d5001f;
  --burgundi: #61082b;
  --yellow: #ffd830;
  --grey: #999999;
  --light-grey: #f5f5f5;
}

nav a{
text-decoration: none;
}

.start-trial{
  text-decoration: none;
  display: inline-block;
  padding: 10px 18px;
  background-color: var(--blue);
  color: white;
  }


/* UTILITY */

.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

.justify-content-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.justify-content-between{
  justify-content: space-between;
}

.justify-align-center{
  align-items: center;
  justify-content: center;  
}

.debug{
  height: 200px;
  border: 1px solid black;
  background-color: rgba (255, 0, 0, .2);
}

/* NAV */

nav{
  padding: 20px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  font-size: .9rem;
  z-index: 999;
}

nav .right-nav a{
  margin-left: 40px;
  color: black;
}

nav .left-nav a, img{
  margin-right: 40px;
  color: black;
}

nav .right-nav a:last-child{
  padding: 10px 18px;
  background-color: var(--blue);
  color: white;
}

/* HEADER */
header{
  margin-top: 60px;
  background-color: var(--light-blue);
}

header h1{
  font-size: 60px;
  font-weight: 900;
  padding-top: 100px;
}

.header-container{
  max-width: 1200px;
  width: 80%;
  margin: auto;
}

.left-header{
 width: 30%;
}

.right-header{
  width: 70%;
  position: relative;
}

.right-header img{
  position: absolute;
  left: 65px;
  width: 100%;
}

header .header-content{ 
  margin-top: 30px;
}

header p{
  margin-bottom: 30px;
}

header span{
  display: block;
  margin: 40px 0px 60px 0px;
}

header .left-header .fa-arrow-down{
  margin-bottom: 20px;
  font-size: 3rem;
  color: black;
}


/* MAIN */

.main-container{
  max-width: 1000px;
  width: 70%;
  margin: auto;
}

.plan-offerts{
  margin-top: 150px;
}

h2{
  font-size: 2.3rem;
  margin-bottom: 50px;
  font-weight: 800;
}

.plan-offerts .check-box .fa-solid{
  color: var(--blue);
}

.plan-offerts .check-box .fa-regular{
  color: var(--grey)
}

.plan-offerts .check-box span{
  margin-right: 50px;
}

      /* TABS */

.top-tabs{
  margin-top: 70px;
}

.tab-left, .tab-middle, .tab-right{
  border: 1px solid var(--grey);
  width: calc(100% / 3);
}

.tab-middle{
  margin: 0 50px 0px 50px;
}

.tab-title{
  border-bottom: 1px solid var(--grey);
  text-align: center;
  padding: 10px 0;
}

.plan-offerts .undertitle-tab{
  padding: 30px;
  position: relative;
}

.plan-offerts h3{
  font-size: 1.4rem;
  font-weight: 700;
}

.plan-offerts .price{
  font-weight: 800;
  font-size: 0.8rem;
  margin: 20px 0;
}

.plan-offerts .date{
  font-size: 0.8rem;
  color: var(--grey);
  margin-bottom: 60px;
}

.plan-offerts .undertitle-tab span{
  display: block;
  margin-bottom: 15px;
}

.plan-offerts .undertitle-tab .buynow{
  margin: 35px 0 35px 0;
}

.plan-offerts .undertitle-tab .buynow a{
  text-decoration: underline;
}

.underline{
  font-size: 3rem;
  border-bottom: 1px solid var(--grey);
  width: 50px;
  margin-bottom: 30px;
}

.plan-offerts .undertitle-tab h4{
  margin-bottom: 30px;
}

.plan-offerts .undertitle-tab li{
  margin-left: -20px;
  font-size: .9rem;
  margin-bottom: 10px;
}

.plan-offerts .undertitle-tab li i{
  color: #0061ff;
}

.plan-offerts .top-tabs .button{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 75px;
  background-color: #0061ff;
}

.plan-offerts .top-tabs .button a{
  color: white;
}

.bottom-tabs{
  border: 1px solid var(--grey);
  width: 100%;
  margin-top: 50px;
}

.plan-offerts .undertitle-tab h3{
  margin-bottom: 20px;
}

.bottom-tabs .undertitle-tab{
  width: 100%;
}

.bottom-tabs .undertitle-tab .underline-left-tab{
  width: 70%;
}

.bottom-tabs .button{
  justify-content: end;
  width: 30%;
  margin-bottom: auto;
}

  /* PARTNER */

.partner{
  margin-top: 140px;
}

.partner .left-img{
  width: 60%;
}

.partner .left-img #imgpartner{
  width: 100%;
}

.partner .right-text{
  padding: 40px 40px 0px 40px;
  width: 40%;
}

.partner .right-text h3{
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.partner .right-text p{
  margin-bottom: 60px;
}

.partner .right-text #find-partner{
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-top: 50px;
}

/* BUSINESS TASKS */

.businnes-tasks{
  margin-top: 100px;
}

.businnes-tasks .card{
  width: 30%;
}

.businnes-tasks .cards{
  margin-bottom: 150px;
}

.businnes-tasks img{
  width: 100%;
  height: auto;
  display: block;
}

.businnes-tasks h3{
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 30px;
}

.nomargin{
  margin: 0px;
}

  /* TEAM-MEMBER */

.team-member{
  margin-top: 150px;
}

#designist{
  background-color: var(--green);
}

#arizona{
  background-color: var(--burgundi);
}

#bicycle{
  background-color: var(--dark-red);
}

#hearst{
  background-color: var(--light-blue);
}

#florida{
  background-color: var(--blue);
}

#topps{
  background-color: var(--red);
}

#lonely{
  background-color: var(--dark-blue);
}

#clear{
  background-color: var(--yellow);
}

.team-member .square{
  display: flex;
  aspect-ratio: 1/1;
  width: 50%;
}

.team-member .square img{
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}

.team-member .left-square, .right-square{
  width: 30%;
}

.team-member .mid-content{
  width: 40%;
  background-color: var(--light-grey);
  padding: 40px 40px 0px 40px;
}

.team-member .mid-content img{
  height: 70px;
  margin-bottom: 40px;
}

.team-member .square:hover{
  border: 10px solid rgba(255, 255, 255, 0.5);
  transition: border 0.5s;
}

.team-member .mid-content p:last-child{
  margin-top: 40px;
}

.team-member .mid-content p{
  font-size: 1.2rem;
}

      /* BOTTOM SECTION */

.bottom-section{
  background-color: var(--light-blue);
  padding-top: 130px;
  padding-bottom: 130px;
}

#your-free-trial{
  background-color: white;
  color: black;
}

.bottom-section h2{
  width: 50%;
  margin: auto 0;
  color: var(--burgundi);
}

      /* QUESTIONS */

.questions{
  margin-top: 130px;
  margin-bottom: 130px;
}

.questions .question{
  margin: 30px 0 30px 0;
}

.questions span{
  padding-right: 30px;
}

.questions span:hover{
  cursor: pointer;
}
